

.container {
    margin-bottom: 50px;
}

.one, .two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
}


.area-two {
    margin: 50px 0 25px 0;
}

.p-heading {
    font-size: 3rem;
    padding: 15px 0;
    color: #3547E0;
}

.p-heading-two{
    padding: 15px 0;
}

.p-body {
    padding: 25px 25px;
    font-size: 1.8rem;
    color: white;
}




.buy-now {
    padding: 10px;
    background-color: #ED8C10;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.white-text {
    color: white;
    font-size: 3rem;
}

.white-text-sub{
    color: white;
    font-size: 2rem;
}

.paypal-button{
    margin: 50px;
}

.paypal{
    height:80px;
}


.buy-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 20px;
}


.pay-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
}










.items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 50px 0 50px 0;
    
}

.items-image{
    max-width: 450px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.included, .needed{
    -ms-flex-preferred-size: 40%;
   flex-basis: 40%;
}

.sub-text{
    color: white;
    font-size: 2rem;
    margin-top: 20px;
}



















/* ///////////// VIDEO AREA /////////////// */

.video-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

iframe {
    width: 560px;
    height: 315px;
    max-width: 100%;
}



















.slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    
}


.sliderOne{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    text-align: center;
}

.mySlides{
    max-width: 500px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    background-color:#3547E0;
    z-index: 10;
    height: 150px;
    border: none;
    
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0 15px 15px 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.prev{
    left:0;
    border-radius: 15px 0 0 15px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #2a39b3;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #2a39b3;
}






.fade {
    
    -webkit-animation: fade 1.5s forwards;
    animation: fade 1.5s forwards;
}
    

@-webkit-keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}






input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  width: 50%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

button{
    padding: 20px;
}

.submit:hover {
  background-color: #F6C482;
}



















@media screen and (min-width: 320px) and (max-width:580px) {
    #page {}
}

@media screen and (max-width:959px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .buy-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .items{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .included, .needed{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    }
    .responsive-spacer{
        margin: 25px;
    }
}

@media screen and (max-width:640px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .buy-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .items{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .included, .needed{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    }
    .responsive-spacer{
        margin: 25px;
    }
}

@media screen and (max-width:360px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .buy-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .items{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .included, .needed{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    }
    .responsive-spacer{
        margin: 25px;
    }
}

@media screen and (max-width:320px) {
    .container-fluid {
        width: 320px;
    }
    body {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .buy-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .items{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .included, .needed{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    }
    .responsive-spacer{
        margin: 25px;
    }
}